body{
    background-color: aqua;
    background-image: url(received_184282137290915.jpeg);
}

header{
    background-color: rgb(14, 11, 20);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}
